<h1>FireBase練習チャットの部屋</h1>

<div id="notlogin">
  <div>Google login
    <div>
      <button id="gmaillogin">ログイン</button>
    </div>
  </div>
  <div>Eメールログイン
    <div>
      <input id="email" placeholder="Eメールアドレスを入力">
      <input id="password" type="password" placeholder="パスーワードを入力">
      <button id="maillogin">ログイン</button>
    </div>
  </div>
</div>

<div id="donelogin">
  <button id="signout">サインアウト</button>
  <div>
    <textarea id="content" placeholder="コメントを入力"></textarea>
  </div>
  <button id="post">送信</button>
  <div id="chat">
  </div>
</div>